NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_DAM_ASSET_ADDRESS=your_contract_address_here
NEXT_PUBLIC_DAM_SIGNATURE_ADDRESS=your_contract_address_here
NEXT_PUBLIC_DAM_VERIFIER_ADDRESS=your_contract_address_here
NEXT_PUBLIC_POLYGON_MUMBAI_RPC=your_rpc_url_here
