PORT=3001
HASHING_SERVICE_URL=http://localhost:8001
ALCHEMY_API_KEY=your_alchemy_api_key_here
POLYGON_MUMBAI_RPC_URL=your_rpc_url_here
DEPLOYER_PRIVATE_KEY=your_wallet_private_key_here
DAM_ASSET_CONTRACT_ADDRESS=your_contract_address_here
DAM_SIGNATURE_CONTRACT_ADDRESS=your_contract_address_here
DAM_VERIFIER_CONTRACT_ADDRESS=your_contract_address_here
PINATA_API_KEY=your_pinata_api_key_here
PINATA_SECRET_KEY=your_pinata_secret_key_here
JWT_SECRET=your_jwt_secret_here
