opencv-python
Pillow
numpy
eth-account
pytest
httpx
scipy
matplotlib
torch
torchvision
transformers
accelerate
faiss-cpu
tqdm
pandas

# Api
fastapi[standard]
uvicorn
python-multipart # For handling file uploads in FastAPI
